body {
    background-color: #2F4F4F;
    background-image: url('/static/img/forest-back.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #123456;
    overflow-x: hidden;
    font-family: "Times New Roman", sans-serif;
    font-size: 1.25rem;
}
.list {
    overflow-y: auto;
    background: #4f4f4f;
    margin-left: 0px;
    color: #fff;
    min-height: calc(100vh - 140px);
    text-decoration: none;
}
.list a, a:hover{
    color: #fff;
    text-decoration: none;
}
.bg-dark {
    background-color: #3f3f3f!important;
    border: 2px solid #323232;
    color: #fff;
    height: 85px;
}
.flex-column a{
    color: #123456;
    text-decoration: none;
    font-size: 1.5em;
}
.h1, h1{
    margin-bottom: 0rem;
    font-size: 2.5rem;
}
.h3, h3{
    font-size: 1.4rem;
}
.h4, h4{
    font-size: 1.25rem;
}
.h5, h5{
    font-size: 1.15rem;
}