{% extends "board_list.html" %}

{% block title %}{{ board.prefix }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row w-100">
    <div class="col-2">
      {{ super() }}
    </div>

    <div class="col-10">
      <h1>Доска: {{ board.prefix }} - {{ board.name }}</h1>

      <h3>Треды:</h3>
      <h5>
        <div id="threads" class="">
          {% for thread in board.threads %}
            <p><a href="{{ url_for('thread', board_prefix=board.prefix, thread_id=thread.id) }}">{{ thread.title }}</a></p>
          {% else %}
            Похоже, здесь нет ни одного треда!
          {% endfor %}
        </div>

        <br>Создать тред:<br>
        <form class="thread-maker" method="post">
          {{ form.hidden_tag() }}

          <p><label for="threadName">Название треда</label></p>
          <p><input id="threadName" placeholder="Введите название треда"></p>
          <label for="firstThreadMessage">Сообщение: </label>
          <p><textarea type="text" id="firstThreadMessage" placeholder="Введите сообщение..."></textarea></p>
          <p><input id="create_thread" type="button" value="Создать"></p>

        </form>
      </h5>

    </div>
  </div>
</div>
{% endblock %}