{% extends "board_list.html" %}

{% block title %}{{ board.prefix }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row w-100">
    <div class="col-2 list">
      {{ super() }}
    </div>

    <div class="col">
      <h1>Доска: {{ board.prefix }} - {{ board.name }}</h1>

      <h3>Треды:</h3>
      <h5>
        <div id="messages">
        </div>

        <div id="threads" class="">
          <!-- All threads get from AJAX -->
        </div>

        <div id="threadCreate">
          <form class="form-maker" method="post" onsubmit="createThreadFunc">
             Создать тред:<br>
            {{ form.hidden_tag() }}
            {{ form.title.label }}<br>
            {{ form.title }} <br>
            {{ form.message.label }}<br>
            {{ form.message }}
            <p><a><input type="submit" value="Создать"></a></p>
          </form>
        </div>
      </h5>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/updates.js') }}"></script>
{% endblock %}
