{% extends "board_list.html" %}

{% block title %}{{ thread.board.prefix }} - {{ thread.id }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row w-100">
    <div class="col-2">
      {{ super() }}
    </div>
    <div class="col-10">
      <h2>
        {{ thread.title }}:
      </h2>

      <br>
      <div id="posts" class="">
        <!-- All posts get from AJAX -->
      </div>

      <form class="post-maker" method="post" id="message_form">

        {{ form.hidden_tag() }}

        <label for="threadmessage">Сообщение: </label>
        <p><textarea type="text" id="threadmessage" placeholder="Введите сообщение..."></textarea></p>
        <p><input id="thread_send_mes" type="button" name="button" value="Отправить"></p>

      </form>

    </div>
  </div>
</div>
</div>
{% endblock %}
